-- Step 1: Create a CTE to aggregate order counts per customer
WITH Orders_cte AS (
    SELECT
        customer_number,
        COUNT(*) AS num_of_orders
    FROM Orders
    GROUP BY customer_number
)

-- Step 2: Select the customer(s) from the CTE
SELECT
    customer_number
FROM Orders_cte
WHERE 
    -- Step 3: Filter for rows where the count equals the maximum count found in the CTE
    num_of_orders = (
        SELECT
            MAX(num_of_orders)
        FROM Orders_cte
    );
