SELECT 
    name
FROM 
    Customer
WHERE 
    -- Condition 1: Include users with no referee (NULL values)
    referee_id IS NULL 
    -- Condition 2: Include users referred by anyone EXCEPT ID 2
    OR referee_id != 2;
